@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to bottom, #00adb5, rgba(0, 0, 0, 0.6));
  color: #eeeeee;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

.header input {
  background-color: #00adb5;
  padding: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid #222831;
  transition: all 200ms ease;
}

.header .search-btn {
  background-color: #393e46;
  font-size: 20px;
  margin-left: 5px;
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eeeeee;
}

.search-btn:hover {
  background-color: thistle;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.location .date {
  font-size: 16px;
}

.current .temp {
  font-size: 90px;
  font-weight: 200;
  margin: 15px 0px;
}

.current .feels-like {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.current .temp-description {
  margin-bottom: 15px;
}

.current .hi-low {
  font-size: 24px;
  font-weight: 200;
}
